/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

body {
    color: #c5c6c7;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    background-color: #1f2833;
}

h1 {
    color: #c5c6c7;
    font-weight: 300;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 200;
    color: #66fcf1;
}

h3 {
    margin: auto;
    text-align: center;
    font-weight: 200;
    color: #66fcf1;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Styiling for section headings */
span {
    width: 100%;
}

.col-2, .col-5 {
    margin: auto;
}

hr {
    border-color: #66fcf1;
    border-width: thin;
    margin: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hr-left {
    float: left;
    width: 100%;
}

.hr-right {
    float: right;
    width: 100%;
}

/* Navbar */
nav {
    border-bottom: solid 1px #66fcf1;
}

.nav-list {
    padding: 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    font-size: 100%;
    text-transform: uppercase;
    margin: 0 2%;
    padding: 1%;
    border: solid 1px #66fcf1;
    border-radius: 10px;
    box-shadow: -10px 10px, -8px 8px, -6px 6px, -4px 4px, -2px 2px;
}

nav a {
    color: #c5c6c7;
}

#logo {
    display: inline-block;
    font-size: 3rem;
    margin-right: auto;
    box-shadow: 10px 10px, 8px 8px, 6px 6px, 4px 4px, 2px 2px;
}

#logo-image {
    width: 110px;
}
 
nav li::after {
    content: '';
    height: 10px;
    width: 0;
    border-radius: 30%;
    display: block;
    background-color: red;
    transition: all ease-in-out 1000ms;
}

nav li:hover::after {
    width: 100%;
    display: block;
}

a:hover {
    text-decoration: none;
    color: red;
}

/* Intro section */
#intro-section {
    height: 600px;
}

.hero-image {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#portrait {
    width: 70%;
    max-width: 350px;
    border: solid 1px #66fcf1;
    border-radius: 50%;
}

#portrait-span {
    margin-left: 20%;
}

/* Projects section */
#projects-section {
    height: 600px;
}

.project-image-col-1 {
    height: 200px;
    border: solid 2px #66fcf1;
    width: 15em;
    margin: auto;
    margin-right: 15%;
    margin-bottom: 5em;
    border-radius: 10px;
    box-shadow: 10px 10px, 8px 8px, 6px 6px, 4px 4px, 2px 2px;
}

.project-image-col-2 {
    height: 200px;
    border: solid 2px #66fcf1;
    width: 15em;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 5em;
    border-radius: 10px;
    box-shadow: -10px 10px, -8px 8px, -6px 6px, -4px 4px, -2px 2px;
}

/* Resume section */
#resume-section {
    text-align: center;
    height: 600px;
}

.resume-list {
    list-style-type: none;
    padding: 0;
}

.resume-list li {
    margin-bottom: 30px;
}

.tech {
    display: block;
    color: red;
    font-size: 5rem;
}

/* interests and hobbies section */
#interests-hobbies {
    text-align: center;
    height: 600px;
}

#interests-hobbies div ul {
    padding: 0;
}

#interests-hobbies div ul li {
    list-style-type: none;
    margin: 30px;

}

/* Contact section */
#contact-section {
    height: 600px;
}

form {
    padding: 40px;
    width: 60%;
}

.form input {
    display: block;
}

#message {
    height: 200px;
}

.resume-link {
    text-align: center;
    color: #f5f5f5;
}

/* Footer */
footer li {
    font-size: 3rem;
    display: inline-block;
    margin: 0 15px;
}

footer ul {
    text-align: center;
    margin-bottom: 0;
}

footer a {
    color: #66fcf1
}

#email-icon, #linkedin-icon {
    text-shadow: 5px -5px #c5c6c7, 4.5px -4.5px #c5c6c7, 4px -4px #c5c6c7, 3.5px -3.5px #c5c6c7, 3px -3px #c5c6c7, 2.5px -2.5px #c5c6c7, 2px -2px #c5c6c7, 1.5px -1.5px #c5c6c7, 1px -1px #c5c6c7, 0.5px -0.5px #c5c6c7;
}

#twitter-icon, #github-icon {
    text-shadow: -5px -5px #c5c6c7, -4.5px -4.5px #c5c6c7, -4px -4px #c5c6c7, -3.5px -3.5px #c5c6c7, -3px -3px #c5c6c7, -2.5px -2.5px #c5c6c7, -2px -2px #c5c6c7, -1.5px -1.5px #c5c6c7, -1px -1px #c5c6c7, -0.5px -0.5px #c5c6c7;
}
