/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

body {
    color: #c5c6c7;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    background-color: #1f2833;
    max-width: 2000px;
    margin: auto;
    font-size: 1.1rem;
}

h1 {
    color: #c5c6c7;
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 200;
    color: #66fcf1;
}

h3 {
    margin: auto;
    text-align: center;
    font-weight: 200;
    color: #66fcf1;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col-12 {
    padding: 0;
}

main {
    padding: 0;
    margin: 0;
}

html {
    margin: auto;
}

.container-fluid {
    padding: 0;
}

.col {
    padding: 0;
}

/* Styiling for section headings */
span {
    width: 100%;
}

.col-2, .col-5 {
    margin: auto;
}

hr {
    border-color: #66fcf1;
    border-width: thin;
    margin: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hr-left {
    float: left;
    width: 100%;
}

.hr-right {
    float: right;
    width: 100%;
}

/* Navbar */
nav {
    border-bottom: solid 1px #66fcf1;
}

.nav-list {
    padding: 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.nav-item {
    display: inline-block;
    font-size: 100%;
    text-transform: uppercase;
    margin: 0 2%;
    padding: 1%;
    border: solid 1px #66fcf1;
    border-radius: 10px;
    box-shadow: -10px 10px, -8px 8px, -6px 6px, -4px 4px, -2px 2px;
}

nav a {
    color: #c5c6c7;
}

#logo-container {
    display: inline-block;
    margin-right: auto;
    box-shadow: 10px 10px, 8px 8px, 6px 6px, 4px 4px, 2px 2px;
}

#logo-image {
    width: 110px;
}
 
nav li::after {
    content: '';
    height: 10px;
    width: 0;
    border-radius: 30%;
    display: block;
    background-color: red;
    transition: all ease-in-out 1000ms;
}

nav li:hover::after {
    width: 100%;
    display: block;
}

a:hover {
    text-decoration: none;
    color: #c5c6c7;
}

@media only screen and (max-width: 1000px) {
    .nav-item {
        font-size: 80%;
    }
    
    #logo-image {
        width: 90px;
    }

}

@media only screen and (max-width: 850px) {
    .nav-item {
        font-size: 60%;
    }

    #logo-image {
        width: 70px;
    }
}

@media only screen and (max-width: 680px) {
    .nav-item {
        font-size: 50%;
    }

    #logo-image {
        width: 50px;
    }
}
@media only screen and (max-width: 575px) {
    .nav-list {
        padding: 2% 2%;
        display: block;
        margin-bottom: 2rem;
}
    
    .nav-item {
        width: 100px;
        height: 5px;
        margin: auto;
        font-size: 10px;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        box-shadow: none;
        padding: 1rem;
        text-align: left;
        display: block;
        text-align: center;
    }

    #logo-container {
        display: none;
    }
}

/* Intro section */
#intro-section {
    height: 600px;
    margin-bottom: 2rem;
}

.hero-image {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#portrait {
    width: 70%;
    max-width: 350px;
    min-width: 150px;
    border: solid 1px #66fcf1;
    border-radius: 50%;
    align-items: center;
    display: block;
    margin: auto;
}

/* Projects section */
#portfolio-section {
    height: 690px;
}

.project-image-col-1 {
    height: 195px;
    border: solid 2px #66fcf1;
    width: 15em;
    margin: auto;
    margin-right: 15%;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px, 8px 8px, 6px 6px, 4px 4px, 2px 2px;
    overflow: hidden;
}

.project-image-col-2 {
    height: 195px;
    border: solid 2px #66fcf1;
    width: 15em;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: -10px 10px, -8px 8px, -6px 6px, -4px 4px, -2px 2px;
    overflow: hidden;
}

.project-image {
    width: 100%;
    border-radius: 10px;
}

.portfolio-title-left {
    width: 15em;
    margin: auto;
    margin-right: 15%;
    margin-bottom: 5em;
}

.portfolio-title-right {
    width: 15em;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 5em;
}

@media only screen and (max-width: 991px) {
    #portfolio-section {
        height: 1250px;
        text-align: center;
    }

    .project-image-col-1 {
        height: 150px;
        border: solid 2px #66fcf1;
        width: 12em;
        margin: auto;
        margin-bottom: 2em;
        border-radius: 10px;
        box-shadow: none;
        overflow: hidden;
    }

    .project-image-col-2 {
        height: 150px;
        border: solid 2px #66fcf1;
        width: 12em;
        margin: auto;
        margin-bottom: 2em;
        border-radius: 10px;
        box-shadow: none;
        overflow: hidden;
    }

    .portfolio-title-left {
        margin: auto;
        margin-bottom: 5em;
    }

.portfolio-title-right {
        margin: auto;
        margin-bottom: 5em;
    }
}

/* About section */
#about-section {
    height: 700px;
}

#about-section h3 {
    margin-bottom: 2rem;
}

.tech {
    display: block;
    font-size: 5rem;
}

.tech-label {
    margin-bottom: 2rem;
}

#html5-icon {
    color: #e44d26;
}

#css3-icon {
    color: #254bdd;
}

#bootstrap4-icon {
    color: #674096;
}

.tech-list {
    text-align: center;
    border-right: solid 5px #66fcf1;
    color: #66fcf1;
}

.resume-container {
    margin: auto;
    margin-left: 10%;
    width: 80%;
    min-width: 200px;
}

.resume-container div {
    width: 40%;
    margin: auto;
}

.resume-container h3 {
    width: 80%;
}

.resume-list {
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
}

.resume-list h3 {
    text-align: left;
}

.resume-list li {
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.about-cv {
    text-align: center;
    border: solid 1px #66fcf1;
    padding: 1rem;
    color: #66fcf1;
    border-radius: 5px;
}

.about-cv:hover {
    color: #c5c6c7;
    background-color: #66fcf1;
    border-color: #c5c6c7;
}

.about-cv-container {
    text-align: center;    
    margin-top: 3rem;
}

@media only screen and (max-width: 991px) {
    #about-section{
        height: 1200px;
    }

    .resume-container{
        text-align: center;
        margin: auto;
    }

    .resume-container h3 {
        text-align: center;
    }

    .tech-list {
        border: none;
}
}

/* Testimonials section */

#testimonials-section {
    height: 600px;
}

#testimonials {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

#testimonials-section p {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 3rem;
}

#testimonials-section h4 {
    width: 100%;
    margin-bottom: 1rem;
    max-width: 1000px;
}

.referee-title {
    color: #66fcf1;
}

@media only screen and (max-width: 550px) {
    #testimonials-section {
        height: 735px;
    }
    
    #testimonials {
        min-width: 290px;
    }
}

/* Interests and hobbies section */
#interests-hobbies {
    text-align: center;
    height: 600px;
}

#interests-hobbies div ul {
    padding: 0;
}

#interests-hobbies div ul li {
    list-style-type: none;
    margin: 30px;

}

/* Contact section */
#contact-section {
    height: 600px;
}

form {
    padding: 40px;
    width: 40%;
    margin: auto;
    min-width: 290px;
}

.form input {
    display: block;
    background-color: transparent;
    border-color: #66fcf1;
    width: 100%;
    border-radius: 5px;
}

.form input:hover {
    border-color: #c5c6c7;
}

#message {
    height: 200px;
}

.label {
    margin-top: 2rem;
}

#submit {
    background-color: transparent;
    color: #66fcf1;
    border-color: #66fcf1;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
}

#submit:hover {
    background-color: #66fcf1;
    border-color: #c5c6c7;
    color: #c5c6c7;
}

.button-container {
    text-align: center;
    margin-top: 1rem;
}

@media only screen and (max-width: 390px) {
    form {
        padding: 0;
    }
}

/* Footer */
footer li {
    font-size: 3rem;
    display: inline-block;
    margin: 0 15px;
}

footer ul {
    text-align: center;
    margin-bottom: 0;
}

footer a {
    color: #66fcf1
}
